{
  "presets": [
    "@babel/react",
    "@babel/preset-env"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      }
    }],
    "react-hot-loader/babel",
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        },
        "webpackHotModuleReloading": true,
        "generateScopedName": "[local]___[hash:base64:5]",
        "handleMissingStyleName": "warn"
      }
    ]
  ]
}
