{
  "presets": ["react", "env", "stage-2"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": [
    "transform-runtime",
    "react-hot-loader/babel",
    ["react-css-modules", {
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss",
          "plugins": ["postcss-nested"]
        }
      }
    }]
  ]
}
