.page--another-entry {
  text-align: center;
  line-height: 2rem;

  h1 {
    font-family: 'Spectral SC', serif;
    margin-bottom: 2rem;
  }

  a {
    color: blue;
  }

  small {
    font-size: .8rem; 
  }
}
