nav {
  position: relative;
  text-align: center;

  a {
    display: inline-block;
    font-family: 'Spectral SC', serif;
    padding: 2rem 2rem;
  }

  .user-info {
    position: absolute;
    top: 1.8rem;
    right: 2rem;
    color: #999;
  }
}
