nav {
  text-align: center;

  a {
    display: inline-block;
    font-family: 'Spectral SC', serif;
    padding: 2rem 2rem;
    text-decoration: none;
    color: #2c2c2c;
    transition: color 200ms ease-in-out;

    &:hover {
      color: #9a9a9a;
    }
  }
}
