.postlist {
  margin-bottom: 1rem;

  .text {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    line-height: 1.7rem;
  }

  .arthur {
    font-size: 0.8rem;
    color: #999;
  }

  .createdAt {
    font-size: 0.8rem;
    color: #999;
  }
}
