.page--home {
  background: #aaa;

  .demo--font {
    font-family: 'Spectral SC', serif;
  }

  .demo--bg {
    width: 400px;
    height: 100px;
    background: url('../../assets/images/bg.jpg');
  }
}
